@import '../../style/utils/variables';
@import '../../style/utils/mixins';

.button {
  text-transform: uppercase;
  line-height: 100%;
  text-align: center;
  color: $color_white;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid $color_white;
  border-radius: 12px;
  min-width: max-content;
  max-width: 90px;
  width: 100%;

  &--isActive {
    background-color: $color_white;
    color: $color_yellow;
  }

  &:hover {
    cursor: pointer;
  }
}
